* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_23 {
  width: 100%;
  height: 366px;
  background: rgba(255,255,255,1);
  padding: 9px 0px;
  margin: 94px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_86 {
  width: 229px;
  height: 301px;
  background: url("../images/v15_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.v15_18 {
  width: 229px;
  height: 301px;
  background: url("../images/v15_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 83px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_297 {
  width: 229px;
  height: 181px;
  background: url("../images/v15_297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_67 {
  width: 145px;
  height: 137px;
  background: url("../images/v15_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 41px;
  overflow: hidden;
}
.v1_22 {
  width: 127px;
  height: 137px;
  background: rgba(251,198,198,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
}
.v5_28 {
  width: 229px;
  color: rgba(251,198,198,1);
  position: absolute;
  top: 142px;
  left: 0px;
  font-family: Alata;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v15_71 {
  width: 229px;
  height: 35px;
  background: url("../images/v15_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v15_232 {
  width: 100%;
  height: 346px;
  background: url("../images/v15_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 81px;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 323px;
  overflow: hidden;
}
.v15_82 {
  width: 833px;
  height: 346px;
  background: url("../images/v15_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_20 {
  width: 833px;
  height: 339px;
  background: url("../images/v15_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  overflow: hidden;
}
.v15_381 {
  width: 833px;
  height: 278px;
  background: url("../images/v15_381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_265 {
  width: 833px;
  height: 66px;
  background: url("../images/v15_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v5_29 {
  width: 198px;
  color: rgba(251,198,198,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v15_269 {
  width: 833px;
  height: 142px;
  background: url("../images/v15_269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 0px;
  overflow: hidden;
}
.v15_88 {
  width: 809px;
  height: 142px;
  background: url("../images/v15_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 112px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  overflow: hidden;
}
.v5_32 {
  width: 150px;
  color: rgba(251,198,198,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Alata;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v15_273 {
  width: 546px;
  height: 75px;
  background: url("../images/v15_273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -258px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 262px;
  overflow: hidden;
}
.v15_1554 {
  width: 546px;
  height: 75px;
  background: url("../images/v15_1554.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_1526 {
  width: 284px;
  height: 75px;
  background: url("../images/v15_1526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_8 {
  width: 284px;
  color: rgba(251,198,198,1);
  position: absolute;
  top: 15px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v15_1528 {
  width: 280px;
  height: 75px;
  background: url("../images/v15_1528.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 266px;
  overflow: hidden;
}
.v13_9 {
  width: 280px;
  height: 52px;
  background: rgba(251,198,198,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_1530 {
  width: 231px;
  height: 51px;
  background: url("../images/v15_1530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 314px;
  overflow: hidden;
}
.v13_10 {
  width: 231px;
  color: rgba(155,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v15_267 {
  width: 823px;
  height: 37px;
  background: url("../images/v15_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 5px;
  overflow: hidden;
}
.v15_8 {
  width: 188px;
  height: 37px;
  background: url("../images/v15_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_33 {
  width: 158px;
  height: 37px;
  background: rgba(251,198,198,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
}
.v8_37 {
  width: 188px;
  color: rgba(155,30,30,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Alata;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v15_271 {
  width: 823px;
  height: 20px;
  background: url("../images/v15_271.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 5px;
  overflow: hidden;
}
.v15_90 {
  width: 743px;
  height: 20px;
  background: url("../images/v15_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_250 {
  width: 528px;
  height: 20px;
  background: url("../images/v15_250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_39 {
  width: 292px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Alata;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v8_40 {
  width: 251px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 277px;
  font-family: Alata;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v8_42 {
  width: 214px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 528px;
  font-family: Alata;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v15_84 {
  width: 274px;
  height: 345px;
  background: url("../images/v15_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 914px;
  overflow: hidden;
}
.v15_22 {
  width: 274px;
  height: 338px;
  background: url("../images/v15_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v15_1510 {
  width: 283px;
  height: 288px;
  background: url("../images/v15_1510.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 228px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_404 {
  width: 283px;
  height: 26px;
  background: url("../images/v15_404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_45 {
  width: 245px;
  height: 26px;
  background: url("../images/v15_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 38px;
  overflow: hidden;
}
.v5_30 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v15_406 {
  width: 283px;
  height: 34px;
  background: url("../images/v15_406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 0px;
  overflow: hidden;
}
.v15_47 {
  width: 246px;
  height: 34px;
  background: url("../images/v15_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  overflow: hidden;
}
.v11_45 {
  width: 32px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v15_1512 {
  width: 283px;
  height: 150px;
  background: url("../images/v15_1512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v15_408 {
  width: 283px;
  height: 34px;
  background: url("../images/v15_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_49 {
  width: 245px;
  height: 34px;
  background: url("../images/v15_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v15_410 {
  width: 283px;
  height: 32px;
  background: url("../images/v15_410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v15_51 {
  width: 245px;
  height: 32px;
  background: url("../images/v15_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v15_412 {
  width: 283px;
  height: 34px;
  background: url("../images/v15_412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 0px;
  overflow: hidden;
}
.v15_53 {
  width: 246px;
  height: 34px;
  background: url("../images/v15_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v15_1514 {
  width: 283px;
  height: 313px;
  background: url("../images/v15_1514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 283px 0px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 0px;
  overflow: hidden;
}
.v13_11 {
  width: 283px;
  background: url("../images/v13_11.png");
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 0px;
  border: 4px solid rgba(251,198,198,1);
  transform: rotate(-90deg);
}
.v15_55 {
  width: 283px;
  height: 21px;
  background: url("../images/v15_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 0px;
  overflow: hidden;
}
.v11_214 {
  width: 274px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
